.client-info {
    margin-bottom: 135px;

    .client-info-wrapper {
        align-items: flex-start;
    }
}

.client-info--inner {
    margin-bottom: 40px;
    // @media (max-width: 1199px) {
    // 	background-color: $main-basic-dark;
    // 	margin-bottom: 0;
    // 	padding-bottom: 40px;
    // 	padding-top: 40px;
    // }
    .description {
        > .content {
            padding: 25px 15px;
            @media (max-width: 1920px) {
                padding: 20px 15px;
            }
            @media (max-width: 1599px) {
                padding: 0;
            }
        }

        .client-info-title {
            font-weight: 700;
            font-size: 1.35rem;
            line-height: 1.4;
            margin-bottom: 50px;
            @media (max-width: 1920px) {
                margin-bottom: 20px;
            }
            @media (max-width: 1699px) {
                margin-bottom: 20px;
            }
            @media (max-width: 1399px) {
                margin-bottom: 15px;
            }
            // @media (max-width: 1199px) {
            //     color: #f5f4f6;
            // }
        }

        .text {
            font-weight: 600;
            font-size: 0.8rem;
            line-height: 1.4;
            margin-bottom: 45px;
            @media (max-width: 1920px) {
                margin-bottom: 20px;
            }
            @media (max-width: 1699px) {
                margin-bottom: 20px;
            }
            @media (max-width: 1399px) {
                margin-bottom: 15px;
            }
            // @media (max-width: 1199px) {
            //     color: #f5f4f6;
            // }
            @media (max-width: 767px) {
                margin-bottom: 20px;
                font-size: 0.9rem;
            }

            p {
                font-size: 0.9rem;
                @media (max-width: 1399px) {
                    font-size: 0.8rem;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .other-works-title {
            display: block;
            text-align: right;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.4;
            // @media (max-width: 1199px) {
            //     color: #f5f4f6;
            // }
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
        }
    }

    + .more-projects {
        padding-top: 40px;
        margin-bottom: 40px;
    }

    .other-works {
        @media (min-width: 992px) and (max-width: 1199px) {
            width: 41.66666667%;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            width: 50%;
            flex-direction: column;
        }

        .content {
            .other-works-item {
                @media (min-width: 768px) and (max-width: 1199px) {
                    display: block;
                    width: calc(33% - 18px);
                }
            }
        }
    }
}


.client-info--text {
    .other-works {
        @media (min-width: 992px) and (max-width: 1199px) {
            width: 50%;
        }
    }
}
