.instagram-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px;

    .instagram-wrapper-item-1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .instagram-wrapper-item-2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .instagram-wrapper-item-3 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .instagram-wrapper-item-4 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .instagram-wrapper-item-5 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .instagram-wrapper-item-6 {
        grid-area: 2 / 3 / 3 / 4;
    }
}