.other-works {
    margin-top: 20px;
    @media (max-width: 1199px) {
        margin-top: 0;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
        width: 50%;
        flex-direction: column-reverse;
        display: flex;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 27px;
        justify-content: flex-start;
        @media (max-width: 1920px) {
            gap: 20px;
        }
        @media (max-width: 1699px) {
            gap: 15px;
        }
        @media (max-width: 1199px) {
            justify-content: flex-start;
        }
        @media (max-width: 767px) {
            gap: 5px;
        }

        .other-works-item {
            width: calc(33% - 18px);
            position: relative;
            @media (max-width: 1920px) {
                width: calc(33% - 14px);
            }
            @media (max-width: 1699px) {
                width: calc(33% - 10px);
            }
            @media (min-width: 768px) and (max-width: 1199px) {
                display: none;
                &:nth-child(-n+8) {
                    display: block;
                    width: 20%;
                }
            }
            @media (max-width: 767px) {
                width: calc(33% - 3px);
            }

            img {
                width: 100%;
            }

            &::after {
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                top: 0;
                left: 0;
                z-index: 100;
                backdrop-filter: saturate(100%);
                transition: 0.2s ease;
            }

            &:hover {
                cursor: pointer;

                &::after {
                    backdrop-filter: saturate(30%);
                    transition: 0.2s ease;
                }
            }
        }
    }

    .other-works-title {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.4;
        color: #505050;
        margin-bottom: 30px;
        display: inline-block;

        &:hover {
            opacity: 0.7;
        }

        @media (max-width: 1920px) {
            margin-bottom: 20px;
        }
        @media (max-width: 1699px) {
            font-size: 0.9rem;
        }
        @media (max-width: 1499px) {
            margin-bottom: 12px;
        }
        @media (max-width: 1199px) {
            margin-bottom: 0;
            margin-top: 12px;
        }
        @media (max-width: 767px) {
            margin-bottom: 12px;
            margin-top: 0;
            font-size: 1.1rem;
        }
    }
}